main {
    display: flex;
    justify-content: center;

}
.title {
    position: absolute;
    display: flex;  justify-content: center;
    top: 30px;
    font-family: 'Montserrat';
    font-size: 1.5em;
    width: 100%;
}
.tab-container {
    margin-top: 25px;
    width: 50%;
}
.tab-content {
    font-family: 'Montserrat';
    width: 100%;
    padding: 0 5px;
}
.list-group-light .list-group-item {
    padding: .2rem 0;
    border: none;
}
input {
    line-height: 0;
    border: none;
    border-bottom: 2px solid var(--mdb-gray-400);
}
input:focus {
    outline: none;
}
.row {
    display: flex;
    flex-direction: row;    flex-wrap: nowrap;
    --mdb-gutter-x: -1rem;
    width: 100%;
    justify-content: flex-start;
}
.col {
    flex: 0;
    width: 40% !important;
}
.day-container {
    display: flex;
    align-items: center;

}
.day {
    display: flex;  justify-content: center; align-items:center;
    flex-direction: column;
    border: 1px solid var(--mdb-gray-400);
    padding: 1rem;
    margin: .1rem;

    border-radius: 6px;
}
.day-collapsed-header {
    width: 100%;
    display: flex;  justify-content: space-between;
    flex-direction: column;

}
.day-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.list-group-item {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 100%;
    transition: all 400ms;
}
.collapsed .list-group-item {
    opacity: 0%;
    margin-top: 6px;
    margin-bottom: -35px !important;
    pointer-events: none;
}
.day-body {
    margin-top: 5px;
}
.date {
    margin-bottom: -35px;
    opacity: 100%;
    transition: all 400ms;
}
.date.hidden {
    margin: -20px 0 0;
    opacity: 0%;
}
.fa-caret-down {
    position: relative;
    display: flex;  justify-content: center;    align-items: center;
    font-size: 1.5rem;
    color: var(--mdb-gray-700);
    border: 1px solid var(--mdb-gray-500);
    border-radius: 50%;
    width: 30px;    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.2s;
}
.fa-caret-down:hover {
    color: var(--mdb-gray-900);
    border: 1px solid var(--mdb-gray-700);
    transform: scale(1.15);
}
.fa-caret-down:active {
    transform: scale(1);
}

.fa-caret-down.active {
    transform: rotate(180deg);
}
.fa-caret-down.active:hover {
    transform: scale(1.15)
    rotate(180deg);
}
.fa-caret-down.active:active {
    transform: scale(1)
    rotate(180deg);
}
.clear-list-button {
    width: 50%;
    border: 2px solid var(--mdb-gray-500);
    background-color: transparent;
}
.fa-trash-can {
    color: var(--mdb-gray-200);
    opacity: 100%;
}
.body-container {
    display: flex;
    align-items: center;
}